# Copyright (c) 2020 Thomas Le Roux <thomas.leroux@smile.fr>, SMILE
# SPDX-License-Identifier: Apache-2.0

if SHIELD_MB1329_BG96

if NETWORKING

config MODEM
	default y

config MODEM_SHELL
	default y

config UART_INTERRUPT_DRIVEN
	default y

# extend retry timing to 20 seconds for LTE/LTE-M
config COAP_INIT_ACK_TIMEOUT_MS
	default 20000

endif #NETWORKING

endif # SHIELD_MB1329_BG96
